---
- name: Install kubeadm and kubectl
  apt:
    name: '{{ item }}={{ k8s_version }}'
  loop:
    - kubeadm
    - kubectl

- name: Hold the packages, prevent upgrades
  dpkg_selections:
    name: '{{ item }}'
    selection: hold
  loop:
    - kubeadm
    - kubectl

- name: Setup kubectl autocompletion in bash for root
  lineinfile:
    line: 'source /usr/share/bash-completion/bash_completion'
    path: /root/.bashrc
    state: present

- name: Pull the kubeadm images
  command: kubeadm config images pull
